/*

# Files
!.gitignore
!assets.php
!autoloader.php
!index.php
!LICENSE.md
!README.md
!screenshot.png

# Folders
!/assets
!/classes
!/functions
!/includes
!/inc
!/languages
!/themplates
!/vendor
!/views
